@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<streamingDemo_FE.Components.ChatStream Endpoint="https://localhost:7052/api/chat/sse"></streamingDemo_FE.Components.ChatStream>
