@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<streamingDemo_FE.Components.ChatStream Endpoint="@endpoint"></streamingDemo_FE.Components.ChatStream>

@code{
    private string endpoint = "https://localhost:7052/api/chat/sse";
}
